{% extends 'base.html' %}
{% block title %}Главная - {% endblock %}

{% block content %}
<section class="container my-5 px-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">
        Создайте короткую ссылку автоматически или предложите свой вариант
      </p>
      
      {% include 'includes/messages.html' %}
      
      <form method="POST" action="{{ url_for('views.index_view') }}" novalidate>
        {{ form.csrf_token }}
        <div class="mb-3">
          {{ form.original_link(class="form-control form-control-lg py-3", placeholder=form.original_link.label.text) }}
          {% if form.original_link.errors %}
            {% for error in form.original_link.errors %}
              <div class="text-danger mt-1">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
        
        <div class="mb-3">
          {{ form.custom_id(class="form-control form-control-lg py-3", placeholder=form.custom_id.label.text) }}
          {% if form.custom_id.errors %}
            {% for error in form.custom_id.errors %}
              <div class="text-danger mt-1">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
        
        <div class="d-grid">
          {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
      </form>
      
      {% if short_url %}
        <div class="mt-5 text-center">
          <h5>Ваша новая ссылка готова:</h5>
          <div class="card mt-3">
            <div class="card-body">
              <a href="{{ short_url }}" target="_blank" class="fs-4">{{ short_url }}</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}